$colors: (
  // Colors;
  "Primary": #595d88,
  "Primary-Tint": #6c70a3,
  "Primary-Shade": #4b4f73,
  "Primary-Contrast": #ffffff,

  "Secondary": #ffda85,
  "Secondary-Tint": #ffe29e,
  "Secondary-Shade": #e6c96b,
  "Secondary-Contrast": #272727,

  // Status;
  "Danger": #ff0000,
  "Danger-Tint": #ff3333,
  "Danger-Shade": #cc0000,
  "Danger-Contrast": #ffffff,

  "Warning": #ffcc00,
  "Warning-Tint": #ffdd33,
  "Warning-Shade": #ccaa00,
  "Warning-Contrast": #000000,

  "Success": #00cc00,
  "Success-Tint": #00dd33,
  "Success-Shade": #00aa00,
  "Success-Contrast": #ffffff,

  "Info": #0099ff,
  "Info-Tint": #00aaff,
  "Info-Shade": #0077cc,
  "Info-Contrast": #ffffff,

  // Neutrals;
  "Body": #272727,
  "Text": #272727,
  "White": #ffffff,

  // Light;
  "Light-100": #fafafa,
  "Light-200": #f5f5f5,
  "Light-300": #ebebeb,
  "Light-400": #e0e0e0,
  "Light-500": #d6d6d6,
  "Light-600": #cccccc,
  "Light-700": #c2c2c2,
  "Light-800": #b8b8b8,
  "Light-900": #adadad,

  // Dark;
  "Dark-100": #a1a1a1,
  "Dark-200": #8e8e8e,
  "Dark-300": #7c7c7c,
  "Dark-400": #6a6a6a,
  "Dark-500": #585858,
  "Dark-600": #464646,
  "Dark-700": #343434,
  "Dark-800": #222222,
  "Dark-900": #101010
);

$fonts: (
  "heading": "Arial, sans-serif",
  "body": "Arial, sans-serif",
  "heading-weight": 700,
  "heading-weight-light": 100,
  "body-weight": 400,
);

$typography: (
  "line-height": 1.2,
  "font-size": 16px,
);

// -------- Generate all maps in :root -------- //

/* Colors */
:root {
  @each $colorName, $color in $colors {
    --reverie-color-#{$colorName}: #{"#{$color}"};
  }
}
/* Fonts */
:root {
  @each $fontName, $font in $fonts {
    --reverie-font-#{$fontName}: #{"#{$font}"};
  }
}
