/* General Typography Rules */
html,
body {
  font-size: var(--reverie-typography-font-size);
  line-height: var(--reverie-typography-line-height);
  line-height: var(--reverie-typography-lh);
  font-family: var(--reverie-font-body);
  font-weight: var(--reverie-font-body-weight);
  color: getColor(Body);
}

p {
  font-size: 1em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--reverie-font-heading);
  font-weight: var(--reverie-font-heading-weight);

  &.uppercase {
    text-transform: uppercase;
  }

  &.light {
    font-weight: var(--reverie-font-heading-weight-light);
  }
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

.section-heading {
  margin-bottom: 24px;
}
